*
{
    margin: 0;
    padding: 0;
    outline: 2px red solid;
}

/* html,
body
{
    overflow: hidden;
} */
html{
    background-color: #fdfdfd;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

.cameraControls{
    width: 25%;
    height: 15%;
    z-index: 1;
    color: white;
}

.section{
    
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    padding-left: 5%;
    font-size: 3vmin;
}

.welcome{
    width: 50%;
}
.aboutMe{
    width: 50%;
}
section:nth-child(odd)
{
    justify-content: flex-end;
}