*
{
    margin: 0;
    padding: 0;
    outline: 2px red solid;
}

/* html,
body
{
    overflow: hidden;
} */
html{
    /* background-color: #fdfdfd; */
    background-color: black;
    color: white;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}



.section{
    
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    padding-left: 5%;
    font-size: 3vmin;
}

.welcome{
    width: 50%;
}
.aboutMe{
    width: 50%;
}
section:nth-child(odd)
{
    justify-content: flex-end;
}

#camera-vectors {
    position: absolute;
    top: 0;
    right: 0;
    background: grey;
    padding: 8px;
    color: white;
  }